:root {
  /* logo */
  --pink-color: ##F29B9B;
  --blue-color: ##6A9AD9;
  --yellow-color: ##F29B30;
  --cloud-color: #F3E4CF;
  /* basic setting */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-black: #000000;

  /* font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* font weight */
}

/* Universal tags */

* {
  box-sizing: border-box;
}

h1 {
  font-size: var(--font-large);
  color: var(--color-black);
  margin: 16px 0;
}

h2 {
  font-size: var(--font-regular);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  color: var(--color-black);
  margin: 4px 0;
}




#navbar {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  display: flex;
}

.nav__logo p {
  font-size: 18px;
  padding: 8px 12px;
}

.nav__logo img {
  width: 70px;
  height: 70px;
  padding: 8px 12px;
}

.nav__menu {
  list-style: none;
  display: flex;
}

.nav__menu li {
  padding: 8px 12px;
  font-size: 18px;
}