#navbar {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  display: flex;
}

.nav__logo p {
  font-size: 18px;
  padding: 8px 12px;
}

.nav__logo img {
  width: 70px;
  height: 70px;
  padding: 8px 12px;
}

.nav__menu {
  list-style: none;
  display: flex;
}

.nav__menu li {
  padding: 8px 12px;
  font-size: 18px;
}